@import "../../style/colors";
@import "../../style/layout-mixin";

body {
    overflow: hidden auto;
}

.main-container {
    @include box(100%, auto, 0);

    .description-container {
        @include box(80%, auto, 50px auto, relative);
        margin-top: 80px;
        padding: 10px;
        h1, h2 {
            font-family: "Noto Sans", sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 3.2rem;
            color: $oranged-yellow;
        }
        h2 {
            font-size: 2rem;
            color: $dark-grayish;
        }
    }

    #books-container {
        @include box(80%, 60%, 10px auto, relative);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-left: 2px solid $shaded-purple;
        border-right: 2px solid $shaded-purple;
    }
}
