@import "../../style/colors";
@import "../../style/mixins";
@import "../../style/layout-mixin";

.description-wrapper {
    @include box(70%, 60vh, 10px auto, fixed);
    left: 0;
    right: 0;
    top: 70px;
    z-index: 3;
    min-width: 400px;
    padding-top: 35px;
    background: $dark-grayish;
    border: 1px solid #121212;
    border-radius: 4px;
    .description-window {
        @include box(100%, 100%, 0);
        padding: 10px 20px;
        background-color: white;
        overflow: hidden auto;
        #description-img {
            @include box(150px, 250px, 5px 10px);
            float: left;
            object-fit: cover;
            box-shadow: 0px 2px 1px rgba(107, 103, 103, 0.5), 2px 0px 1px rgba(107, 103, 103, 0.5),
                0px -2px 1px rgba(107, 103, 103, 0.5), -2px -2px 1px rgba(107, 103, 103, 0.5);
        }
        #title-description {
            @include font(header, 3rem, #1b1b1b);
            text-shadow: 1px 1px 1px lightgray;
            text-align: center;
        }

        #author {
            @include font(header, 2.4rem, $dark-grayish);
            text-align: center;
        }
        p {
            @include font(paragraph);
            font-size: 1.6rem;
            line-height: 1.4;
        }
        #description-close-btn {
            position: absolute;
            top: 0;
            right: 2px;
            margin: 2px 2px;
            font-size: 3rem;
            color: #e9dede;
        }

        #description-close-btn:hover {
            cursor: pointer;
            color: red;
        }
    }
}

@media screen and (max-width: 675px) {
    .description-wrapper {
        .description-window {
            #title-description {
                margin-top: 15px;
                font-size: 2.2rem;
            }
            #author {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.4rem;
            }
        }
    }
}
