@import '../../style/mixins';
@import '../../style/colors';


* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
}

.nav-container {
    @include build-box(100%, 60px, $shaded-purple, 0, 3px 5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @include flex();
    justify-content: flex-end;
    a {
        @include font(link);
    }
    a:hover {
        cursor: pointer;
        color: $oranged-yellow;
    }
    input {
        font-family: 'Roboto Mono';
        font-size: 1.3em;
        width: 15%;
        padding: 7px;
        border-radius: 5px;
    }
    #search{
        width: 400px;
        height: 70%;     
        input{
            width: 80%;
            height: 100%;
            border: none;
            color: $shaded-purple;
            font-size: 1.6em;
        }
        button {
            width: 10%;
            height: 100%;
            border: none;
            border-radius: 5px;
            background: inherit;
            .search-icon, i {
                font-size: 1.7rem;
                color: white;
                display: inline-block;
                vertical-align: bottom;
            } 
        }
        button:hover {
            .search-icon, i {
                color: $oranged-yellow;
            }
            background: #52303a;
            cursor: pointer;
        }

    }
    #cart {
        font-size: 3.4em;
        margin-right: 20px;
        margin-left: 10px;
        opacity: .9;
        color: $oranged-yellow;
        position: absolute;
        right: 10px;
    }
    #cart:hover {
        cursor: pointer;
        opacity: 1;
    }
}