@import "../../style/colors";
@import "../../style/layout-mixin";

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
}

.nav-container {
    @include box(100%, 60px, 0, fixed);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    background-color: $shaded-purple;

    #search {
        @include box(400px, 70%);
        flex: 1 1 400px;
        input {
            @include box(320px, 100%);
            padding: 7px;
            border-radius: 5px;
            border: none;
            font-family: "Roboto Mono";
            font-size: 1.6em;
            color: $shaded-purple;
        }
        button {
            @include box(40px, 100%);
            border: none;
            border-radius: 5px;
            background: inherit;
            .search-icon {
                display: inline-block;
                font-size: 1.7rem;
                color: white;
                vertical-align: bottom;
            }
        }
        button:hover {
            .search-icon {
                color: $oranged-yellow;
            }
            background: #52303a;
            cursor: pointer;
        }
    }
}

@media (max-width: 450px) {
    .nav-container  #search {
        input {
            width: 75%;
        }
        button {
            width: 30px;
        }
    }
}
