@import "../../style/mixins";
@import "../../style/colors";
@import "../../style/layout-mixin";

* {
    box-sizing: border-box;
    font-size: 10px;
    margin: 0;
}

.nav-container {
    @include box(100%, 60px, 0, fixed);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    background-color: $shaded-purple;
    input {
        width: 15%;
        padding: 7px;
        border-radius: 5px;
        font: {
            family: "Roboto Mono"; /*keep different font here?*/
            size: 1.3em;
        }
    }
    #search {
        @include box(400px, 70%);
        input {
            @include box(80%, 100%);
            border: none;
            font-size: 1.6em;
            color: $shaded-purple;
        }
        button {
            @include box(10%, 100%);
            border: none;
            border-radius: 5px;
            background: inherit;
            .search-icon {
                display: inline-block;
                font-size: 1.7rem;
                color: white;
                vertical-align: bottom;
            }
        }
        button:hover {
            .search-icon {
                color: $oranged-yellow;
            }
            background: #52303a;
            cursor: pointer;
        }
    }
    #cart {
        position: absolute;
        right: 10px;
        margin-right: 20px;
        margin-left: 10px;
        font-size: 3.4em;
        color: $oranged-yellow;
        opacity: 0.9;
       
    }
    #cart:hover {
        cursor: pointer;
        opacity: 1;
    }
}
