/*
 ORDER for properties
  1) width/height
  2) display (and other related rules)
  3) margin/padding
  4) background
  5) border
  6) children
*/

//build box
@mixin box($width, $height, $margin, $position: initial){
    width: $width;
    height: $height;
    margin: $margin;
    position: $position;
}

@mixin build-box($width, $height:auto, $color:initial, $margin: initial, $padding: initial){
    width: $width;
    height: $height;
    background: $color;
    margin: $margin;
    padding: $padding;  
}

//default-flex 
@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}